[run]
source = app
omit =
    */database/seed.py
    */core/logging.py
    */database/session.py
    */core/config.py
    */main.py
    */migrations/*
    */alembic/*
    */tests/*
    */.venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    pass
    class .*\(Protocol\):

fail_under = 85
show_missing = True
